
<button (click)="toggleDiv()">hide|show</button>

<div *ngIf="visible; then odd else even">
  Div Show
</div>

<ng-template #odd>Odd number of click!</ng-template>
<ng-template #even>Even number of click!</ng-template>


<div *ngIf="language.frontend; let frontendLanguages ;">
  {{ frontendLanguages.join(",") }}
</div>

<ul *ngFor="let item of language.frontend; let even = even; let first=first;">
  <li>{{ item }}</li>
  <li *ngIf="first">{{ item }}</li>
  <li *ngIf="even">{{ item }}</li>
</ul>

<div>
  <li>result = {{ result }}</li>
  <li>1 + 1 = <input type="text" value="{{ result }}"></li>
  <li>1 + 1 = <input type="text" [value]="result"></li>
  <li>1 + 1 = <input type="text" [value]="result" (keyup)="changeResult($event)"></li>
  <li>1 + 1 = <input type="text" bind-value=" result " on-keyup="changeResult($event)"></li>
  <li>1 + 1 = <input type="text" [(ngModel)]="result"></li>

</div>

<h2>Router Views:</h2>
<div>
  <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a routerLink="/header" routerLinkActive="active">Header</a>
</div>
<router-outlet></router-outlet>
