<form nz-form class="ant-advanced-search-form">
  <h3 class="ui header">Add a Link</h3>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col>
      <label>Title</label>
    </div>
    <div nz-form-control nz-col>
      <nz-input nzPlaceHolder="Title" nzSize="large">
      </nz-input>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col>
      <label>Link</label>
    </div>
    <div nz-form-control nz-col>
      <nz-input nzPlaceHolder="Link" nzSize="large">
      </nz-input>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24" style="text-align: right;">
      <button nz-button nzType="primary">Save</button>
    </div>
  </div>
</form>`
